<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta
      charset="utf-8"
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"
    />
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css" />
    <style>
      body {
        -webkit-user-select: none;
        user-select: none;
      }
      #background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
      }

      #background-fallback {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
      }
      #main {
        display: none;
        height: calc(100% - 22px);
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.75) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        width: 100%;
        position: absolute;
        z-index: 10;
      }
      #main[overlay] {
        filter: blur(3px) contrast(0.9) brightness(1);
      }
    </style>
  </head>
  <body bkid="<%=bkid%>">
    <audio id="audio-player" autoplay></audio>
    <div id="background-container">
      <img
        id="background-fallback"
        src="assets/images/backgrounds/<%=bkid%>.jpg"
      />
      <video autoplay muted loop id="background-video">
        <source
          src="http://launcher.opbluesea.fr/launcher/background.wmv"
          type="video/mp4"
        />
      </video>
    </div>
    <%- include('frame') %>
    <div id="main">
      <%- include('welcome') %> <%- include('login') %> <%- include('waiting')
      %> <%- include('loginOptions') %> <%- include('settings') %> <%-
      include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
      <div id="loadingContent">
        <div id="loadSpinnerContainer">
          <img id="loadCenterImage" src="assets/images/loading.gif" />
        </div>
      </div>
    </div>
  </body>
</html>
