<div id="settingsContainer" style="display: none;">
    <div id="settingsContainerLeft">
        <div id="settingsNavContainer">
            <div id="settingsNavHeader">
                <span id="settingsNavHeaderText"><%- lang('settings.navHeaderText') %></span>
            </div>
            <div id="settingsNavItemsContainer">
                <div id="settingsNavItemsContent">
                    <button class="settingsNavItem" rSc="settingsTabAccount" id="settingsNavAccount" selected><%- lang('settings.navAccount') %></button>
                    <button class="settingsNavItem" rSc="settingsTabMinecraft"><%- lang('settings.navMinecraft') %></button>
                    <button class="settingsNavItem" rSc="settingsTabMods"><%- lang('settings.navMods') %></button>
                    <button class="settingsNavItem" rSc="settingsTabJava"><%- lang('settings.navJava') %></button>
                    <button class="settingsNavItem" rSc="settingsTabLauncher"><%- lang('settings.navLauncher') %></button>
                    <div class="settingsNavSpacer"></div>
                    <button class="settingsNavItem" rSc="settingsTabAbout"><%- lang('settings.navAbout') %></button>
                    <button class="settingsNavItem" rSc="settingsTabUpdate" id="settingsNavUpdate"><%- lang('settings.navUpdates') %></button>
                    <div id="settingsNavContentBottom">
                        <div class="settingsNavDivider"></div>
                        <button id="settingsNavDone"><%- lang('settings.navDone') %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="settingsContainerRight">
        <div id="settingsTabAccount" class="settingsTab">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.tabAccountHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.tabAccountHeaderDesc') %></span>
            </div>
            <div class="settingsAuthAccountTypeContainer">
                <div class="settingsAuthAccountTypeHeader">
                    <div class="settingsAuthAccountTypeHeaderLeft">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23">
                            <path fill="#f35325" d="M1 1h10v10H1z" />
                            <path fill="#81bc06" d="M12 1h10v10H12z" />
                            <path fill="#05a6f0" d="M1 12h10v10H1z" />
                            <path fill="#ffba08" d="M12 12h10v10H12z" />
                        </svg>
                        <span><%- lang('settings.microsoftAccount') %></span>
                    </div>
                    <div class="settingsAuthAccountTypeHeaderRight">
                        <button class="settingsAddAuthAccount" id="settingsAddMicrosoftAccount"><%- lang('settings.addMicrosoftAccount') %></button>
                    </div>
                </div>
                
                <div class="settingsCurrentAccounts" id="settingsCurrentMicrosoftAccounts">
                    <!-- Microsoft auth accounts populated here. -->
                </div>
            </div>

            <div class="settingsAuthAccountTypeContainer">
                <div class="settingsAuthAccountTypeHeader">
                    <div class="settingsAuthAccountTypeHeaderLeft">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 9.677 9.667">
                            <path d="M-26.332-12.098h2.715c-1.357.18-2.574 1.23-2.715 2.633z" fill="#fff" />
                            <path d="M2.598.022h7.07L9.665 7c-.003 1.334-1.113 2.46-2.402 2.654H0V2.542C.134 1.2 1.3.195 2.598.022z" fill="#db2331" />
                            <path d="M1.54 2.844c.314-.76 1.31-.46 1.954-.528.785-.083 1.503.272 2.1.758l.164-.9c.327.345.587.756.964 1.052.28.254.655-.342.86-.013.42.864.408 1.86.54 2.795l-.788-.373C6.9 4.17 5.126 3.052 3.656 3.685c-1.294.592-1.156 2.65.06 3.255 1.354.703 2.953.51 4.405.292-.07.42-.34.87-.834.816l-4.95.002c-.5.055-.886-.413-.838-.89l.04-4.315z" fill="#fff" />
                        </svg>
                        <span><%- lang('settings.mojangAccount') %></span>
                    </div>
                    <div class="settingsAuthAccountTypeHeaderRight">
                        <button class="settingsAddAuthAccount" id="settingsAddMojangAccount"><%- lang('settings.addMojangAccount') %></button>
                    </div>
                </div>
                
                <div class="settingsCurrentAccounts" id="settingsCurrentMojangAccounts">
                    <!-- Mojang auth accounts populated here. -->
                </div>
            </div>
            <div class="settingsAuthAccountTypeContainer">
                <div class="settingsAuthAccountTypeHeader">
                    <div class="settingsAuthAccountTypeHeaderLeft">
                        <svg width="32pt" height="32pt" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g id="#000000ff">
                                <path fill="#000000" opacity="1.00" d=" M 26.57 0.00 L 30.63 0.00 C 36.46 1.02 41.61 5.86 41.90 11.95 C 42.46 15.98 40.40 19.64 38.40 22.95 C 44.38 28.73 50.15 34.72 56.10 40.53 C 75.55 22.78 101.60 12.35 128.00 12.54 C 154.39 12.16 180.60 22.33 200.13 40.03 C 206.07 34.50 211.60 28.56 217.47 22.95 C 215.00 19.21 212.87 14.69 214.18 10.11 C 215.32 4.77 220.04 0.95 225.28 0.00 L 229.20 0.00 C 232.45 1.01 235.76 2.39 238.09 4.98 C 240.40 7.29 241.02 10.61 242.45 13.43 C 245.38 14.81 248.82 15.42 251.13 17.87 C 253.81 20.33 255.25 23.81 256.00 27.31 L 256.00 30.65 C 254.96 36.45 250.14 41.58 244.08 41.91 C 240.03 42.48 236.36 40.44 233.06 38.38 C 227.13 44.54 220.95 50.45 215.01 56.60 C 224.24 69.63 230.40 84.61 233.54 100.24 C 237.95 102.13 242.98 104.02 245.47 108.43 C 246.91 110.66 245.94 113.42 244.33 115.26 C 241.95 118.12 238.27 119.28 235.31 121.38 C 234.43 124.52 234.77 127.86 234.37 131.08 C 231.83 153.35 222.17 174.81 206.89 191.25 C 215.48 200.16 224.44 208.73 233.06 217.61 C 236.37 215.57 240.03 213.51 244.09 214.09 C 250.13 214.42 254.95 219.54 256.00 225.33 L 256.00 228.73 C 255.03 233.60 252.27 238.53 247.51 240.55 C 245.30 241.74 241.83 241.69 241.47 244.80 C 240.02 250.61 234.94 254.55 229.33 256.00 L 225.34 256.00 C 219.73 255.07 214.80 250.70 213.99 244.95 C 213.11 240.63 215.20 236.54 217.48 233.04 C 208.27 224.16 199.46 214.85 190.20 206.02 C 183.55 210.74 176.32 214.54 168.88 217.83 C 166.14 228.25 160.00 237.92 150.84 243.80 C 140.86 250.49 127.78 252.56 116.32 248.72 C 102.16 244.55 91.37 232.07 88.00 217.86 C 80.33 214.41 72.84 210.52 66.02 205.57 C 56.74 214.65 47.69 223.98 38.40 233.06 C 40.41 236.38 42.47 240.04 41.90 244.09 C 41.59 250.15 36.47 254.95 30.68 256.00 L 26.69 256.00 C 21.01 254.65 15.80 250.67 14.39 244.79 C 14.11 241.68 10.79 241.55 8.56 240.42 C 3.79 238.43 1.03 233.54 0.00 228.69 L 0.00 225.34 C 0.93 219.71 5.32 214.78 11.09 213.97 C 15.39 213.13 19.45 215.21 22.93 217.50 C 30.75 209.50 38.70 201.61 46.67 193.75 C 47.55 192.85 48.39 191.90 49.04 190.82 C 47.80 188.49 45.91 186.62 44.31 184.56 C 30.09 166.67 22.58 144.05 21.66 121.33 C 17.57 119.43 12.89 117.57 10.68 113.35 C 9.30 110.69 10.76 107.65 12.81 105.84 C 15.71 102.79 20.01 101.92 23.40 99.63 C 24.76 95.85 25.21 91.81 26.39 87.98 C 29.78 76.98 34.95 66.58 41.50 57.13 C 35.29 50.95 29.05 44.80 22.95 38.51 C 19.25 40.98 14.79 43.08 10.25 41.87 C 4.85 40.74 0.91 36.00 0.00 30.67 L 0.00 27.34 C 0.81 23.86 2.24 20.40 4.94 17.95 C 7.24 15.62 10.56 14.98 13.40 13.56 C 14.80 10.65 15.41 7.22 17.84 4.90 C 20.15 2.39 23.38 1.02 26.57 0.00 M 20.55 6.58 C 17.66 9.13 17.06 13.02 16.54 16.62 C 14.45 17.24 12.18 17.22 10.19 18.17 C 6.09 20.09 2.87 24.37 3.20 29.04 C 2.72 34.41 7.71 39.22 13.03 38.85 C 17.05 39.22 20.29 36.65 23.07 34.13 C 36.18 46.86 48.98 59.91 61.91 72.83 C 64.86 68.62 68.06 64.58 71.73 60.97 C 59.25 48.27 46.36 35.96 34.11 23.06 C 37.74 19.27 40.28 13.68 37.81 8.55 C 34.90 1.96 25.10 1.51 20.55 6.58 M 217.18 14.02 C 217.08 17.69 219.65 20.48 221.87 23.08 C 209.78 35.60 197.26 47.69 185.07 60.10 C 188.76 63.67 192.00 67.68 194.94 71.88 C 207.57 59.20 220.17 46.50 232.92 33.95 C 236.55 37.85 242.34 40.23 247.46 37.80 C 254.06 34.88 254.48 25.07 249.40 20.53 C 246.84 17.67 242.99 17.03 239.39 16.56 C 238.70 14.20 238.74 11.61 237.45 9.45 C 235.25 5.35 230.62 2.57 225.91 3.24 C 220.51 3.29 216.41 8.81 217.18 14.02 M 58.64 43.01 C 63.68 48.31 69.01 53.33 74.07 58.61 C 88.98 45.18 108.86 36.96 129.05 37.42 C 148.65 37.30 167.88 44.99 182.72 57.66 C 187.65 52.59 192.71 47.64 197.71 42.64 C 183.70 29.71 165.88 21.10 147.17 17.65 C 115.85 11.54 82.04 21.38 58.64 43.01 M 93.27 49.20 C 77.21 57.30 64.53 71.35 57.38 87.80 C 59.89 86.69 62.41 85.59 65.08 84.92 C 83.00 80.37 101.55 79.21 119.97 78.67 C 143.23 78.42 166.71 79.08 189.50 84.15 C 193.09 84.91 196.55 86.14 199.93 87.54 C 197.18 82.23 194.68 76.74 191.02 71.97 C 179.90 56.58 162.74 45.69 144.07 42.24 C 127.02 38.57 108.72 41.15 93.27 49.20 M 27.18 98.60 C 35.23 96.14 43.55 94.71 51.85 93.35 C 54.20 87.33 56.43 81.19 60.08 75.80 C 54.81 70.48 49.48 65.21 44.22 59.88 C 35.47 71.14 30.57 84.89 27.18 98.60 M 196.81 74.79 C 200.58 80.59 203.09 87.07 205.49 93.52 C 213.61 94.93 221.78 96.27 229.65 98.79 C 226.41 84.71 221.04 70.83 212.29 59.22 C 207.13 64.41 201.97 69.61 196.81 74.79 M 95.01 82.54 C 85.89 83.50 76.69 84.32 67.80 86.67 C 63.25 87.96 58.44 89.26 54.98 92.69 C 103.90 86.59 153.61 86.78 202.53 92.79 C 201.07 91.35 199.45 90.03 197.52 89.27 C 190.04 86.13 181.96 84.81 173.96 83.78 C 147.80 80.51 121.27 80.22 95.01 82.54 M 57.99 96.07 C 47.29 97.36 36.71 99.68 26.38 102.75 C 21.51 104.50 16.20 106.45 13.25 111.01 C 16.21 115.35 21.22 117.51 26.04 119.08 C 33.36 121.38 40.85 123.13 48.39 124.54 C 48.36 120.16 48.16 115.75 48.73 111.39 C 49.12 108.88 51.68 107.69 53.77 106.80 C 64.01 102.73 75.11 101.83 85.97 100.70 C 117.58 97.85 149.50 98.09 181.04 101.73 C 188.78 102.73 196.61 103.94 203.86 106.98 C 205.82 107.83 208.02 109.10 208.47 111.38 C 209.15 115.68 208.91 120.05 208.87 124.38 C 218.67 122.22 228.85 120.51 237.82 115.79 C 239.72 114.49 243.14 112.83 242.22 110.05 C 239.67 106.32 235.05 104.80 231.05 103.15 C 219.04 99.34 206.60 96.92 194.09 95.55 C 148.93 90.22 103.11 90.37 57.99 96.07 M 60.58 107.82 C 57.56 108.76 53.84 109.33 51.87 112.04 C 48.69 140.09 62.76 169.22 86.59 184.34 C 101.63 194.30 120.28 198.40 138.15 196.17 C 158.33 193.85 177.27 182.91 189.66 166.85 C 201.72 151.33 207.42 131.12 205.48 111.56 C 200.52 108.03 194.33 107.35 188.53 106.17 C 167.92 102.33 146.89 102.30 126.01 101.80 C 123.34 101.84 120.69 102.18 118.03 102.20 C 98.77 102.28 79.41 103.60 60.58 107.82 M 25.58 122.77 C 25.76 146.93 36.07 170.43 51.95 188.41 C 57.14 182.90 62.75 177.79 67.90 172.24 C 57.16 160.01 50.39 144.35 48.74 128.16 C 40.98 126.54 33.15 125.16 25.58 122.77 M 208.44 128.07 C 206.87 144.70 199.72 160.61 188.71 173.13 C 193.92 178.43 199.28 183.57 204.43 188.92 C 220.65 170.85 231.16 147.08 231.22 122.60 C 223.78 125.05 216.04 126.29 208.44 128.07 M 23.08 221.87 C 20.50 219.66 17.72 217.12 14.07 217.19 C 9.90 216.64 5.54 218.92 3.89 222.84 C 2.07 227.60 3.63 233.44 7.86 236.41 C 10.29 238.52 13.58 238.69 16.55 239.39 C 17.05 243.01 17.69 246.92 20.60 249.47 C 25.14 254.46 34.80 254.03 37.76 247.55 C 40.26 242.43 37.85 236.59 33.97 232.92 C 49.78 216.81 65.91 201.00 81.78 184.95 C 77.57 182.02 73.75 178.59 70.18 174.91 C 54.48 190.56 38.94 206.38 23.08 221.87 M 174.69 185.51 C 190.33 201.40 206.31 216.94 221.86 232.91 C 219.96 235.29 217.52 237.64 217.30 240.87 C 216.72 244.32 217.58 248.20 220.36 250.52 C 225.02 254.57 232.90 253.13 236.38 248.18 C 238.50 245.74 238.69 242.44 239.38 239.44 C 242.99 238.96 246.87 238.33 249.42 235.44 C 254.46 230.92 254.06 221.20 247.54 218.24 C 242.41 215.72 236.71 218.21 232.94 221.91 C 217.19 206.73 201.92 191.04 186.42 175.60 C 182.77 179.20 178.91 182.58 174.69 185.51 M 84.44 187.13 C 79.19 192.36 74.09 197.73 68.68 202.79 C 74.13 207.36 80.60 210.48 87.01 213.45 C 85.95 205.51 87.84 197.70 90.07 190.14 C 88.18 189.15 86.32 188.12 84.44 187.13 M 166.42 190.66 C 169.46 197.85 170.77 205.79 169.73 213.55 C 176.05 210.78 182.06 207.33 187.75 203.43 C 182.36 198.22 177.14 192.82 171.81 187.55 C 170.01 188.59 168.21 189.62 166.42 190.66 M 93.45 192.16 C 92.37 199.48 99.78 204.21 105.49 207.00 C 106.61 203.87 107.54 200.67 108.58 197.51 C 103.42 196.08 98.40 194.21 93.45 192.16 M 147.32 197.85 C 148.31 200.96 149.24 204.08 150.19 207.21 C 156.63 204.87 163.87 199.85 163.66 192.20 C 158.35 194.46 152.90 196.35 147.32 197.85 M 91.27 198.11 C 90.81 206.25 95.32 214.02 101.80 218.72 C 102.62 215.53 103.64 212.39 104.78 209.29 C 99.26 206.95 94.52 203.16 91.27 198.11 M 151.05 209.63 C 152.18 212.84 153.26 216.06 154.11 219.35 C 161.07 214.76 166.17 206.63 165.47 198.09 C 162.08 203.46 156.91 207.30 151.05 209.63 M 108.31 208.02 C 114.09 209.99 120.13 211.03 126.22 211.38 C 126.23 207.67 126.21 203.97 126.28 200.27 C 121.38 199.64 116.41 199.50 111.61 198.23 C 110.48 201.48 109.37 204.74 108.31 208.02 M 129.65 199.88 C 129.58 203.72 129.59 207.55 129.61 211.39 C 135.70 211.14 141.77 210.22 147.56 208.27 C 146.43 205.04 145.35 201.79 144.24 198.56 C 139.45 199.62 134.54 199.94 129.65 199.88 M 90.43 210.20 C 91.42 221.86 97.26 233.28 106.93 240.07 C 113.11 244.24 120.40 247.19 127.97 246.83 C 136.56 247.34 144.96 243.92 151.64 238.71 C 160.30 231.83 165.41 221.14 166.33 210.21 C 159.91 222.37 146.33 228.91 133.09 230.20 C 116.79 231.59 98.58 225.18 90.43 210.20 M 107.62 210.46 C 106.56 213.85 105.45 217.22 104.25 220.57 C 110.80 224.75 118.55 226.59 126.22 227.24 C 126.23 222.69 126.22 218.14 126.23 213.59 C 119.93 213.33 113.62 212.46 107.62 210.46 M 129.60 213.57 C 129.59 218.14 129.58 222.71 129.58 227.28 C 137.24 226.84 144.93 225.04 151.63 221.21 C 150.41 217.75 149.27 214.27 148.22 210.76 C 142.19 212.58 135.90 213.50 129.60 213.57 Z" />
                                <path fill="#000000" opacity="1.00" d=" M 157.81 112.93 C 164.94 111.64 172.75 112.86 178.62 117.28 C 185.93 122.26 190.45 131.14 189.85 140.02 C 190.11 154.04 176.99 166.64 162.99 165.82 C 148.72 166.45 135.92 153.20 136.46 139.03 C 136.17 126.73 145.79 115.21 157.81 112.93 Z" />
                                <path fill="#000000" opacity="1.00" d=" M 88.11 112.96 C 97.09 111.10 106.91 114.02 113.09 120.87 C 122.08 129.96 122.75 145.75 114.67 155.62 C 106.78 166.37 90.32 169.20 79.26 161.80 C 71.22 156.85 66.23 147.35 66.71 137.91 C 67.19 126.06 76.40 115.12 88.11 112.96 Z" />
                                <path fill="#000000" opacity="1.00" d=" M 119.60 166.06 C 122.01 161.26 128.89 159.49 133.19 162.81 C 135.35 164.17 136.38 166.57 137.29 168.84 C 137.29 169.68 137.29 171.36 137.29 172.20 C 136.06 177.87 129.48 181.67 124.09 179.06 C 119.05 177.19 117.04 170.63 119.60 166.06 Z" />
                            </g>
                            <g id="#ffffffff">
                                <path fill="#ffffff" opacity="1.00" d=" M 20.55 6.58 C 25.10 1.51 34.90 1.96 37.81 8.55 C 40.28 13.68 37.74 19.27 34.11 23.06 C 46.36 35.96 59.25 48.27 71.73 60.97 C 68.06 64.58 64.86 68.62 61.91 72.83 C 48.98 59.91 36.18 46.86 23.07 34.13 C 20.29 36.65 17.05 39.22 13.03 38.85 C 7.71 39.22 2.72 34.41 3.20 29.04 C 2.87 24.37 6.09 20.09 10.19 18.17 C 12.18 17.22 14.45 17.24 16.54 16.62 C 17.06 13.02 17.66 9.13 20.55 6.58 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 217.18 14.02 C 216.41 8.81 220.51 3.29 225.91 3.24 C 230.62 2.57 235.25 5.35 237.45 9.45 C 238.74 11.61 238.70 14.20 239.39 16.56 C 242.99 17.03 246.84 17.67 249.40 20.53 C 254.48 25.07 254.06 34.88 247.46 37.80 C 242.34 40.23 236.55 37.85 232.92 33.95 C 220.17 46.50 207.57 59.20 194.94 71.88 C 192.00 67.68 188.76 63.67 185.07 60.10 C 197.26 47.69 209.78 35.60 221.87 23.08 C 219.65 20.48 217.08 17.69 217.18 14.02 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 60.58 107.82 C 79.41 103.60 98.77 102.28 118.03 102.20 C 120.69 102.18 123.34 101.84 126.01 101.80 C 146.89 102.30 167.92 102.33 188.53 106.17 C 194.33 107.35 200.52 108.03 205.48 111.56 C 207.42 131.12 201.72 151.33 189.66 166.85 C 177.27 182.91 158.33 193.85 138.15 196.17 C 120.28 198.40 101.63 194.30 86.59 184.34 C 62.76 169.22 48.69 140.09 51.87 112.04 C 53.84 109.33 57.56 108.76 60.58 107.82 M 157.81 112.93 C 145.79 115.21 136.17 126.73 136.46 139.03 C 135.92 153.20 148.72 166.45 162.99 165.82 C 176.99 166.64 190.11 154.04 189.85 140.02 C 190.45 131.14 185.93 122.26 178.62 117.28 C 172.75 112.86 164.94 111.64 157.81 112.93 M 88.11 112.96 C 76.40 115.12 67.19 126.06 66.71 137.91 C 66.23 147.35 71.22 156.85 79.26 161.80 C 90.32 169.20 106.78 166.37 114.67 155.62 C 122.75 145.75 122.08 129.96 113.09 120.87 C 106.91 114.02 97.09 111.10 88.11 112.96 M 119.60 166.06 C 117.04 170.63 119.05 177.19 124.09 179.06 C 129.48 181.67 136.06 177.87 137.29 172.20 C 137.29 171.36 137.29 169.68 137.29 168.84 C 136.38 166.57 135.35 164.17 133.19 162.81 C 128.89 159.49 122.01 161.26 119.60 166.06 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 23.08 221.87 C 38.94 206.38 54.48 190.56 70.18 174.91 C 73.75 178.59 77.57 182.02 81.78 184.95 C 65.91 201.00 49.78 216.81 33.97 232.92 C 37.85 236.59 40.26 242.43 37.76 247.55 C 34.80 254.03 25.14 254.46 20.60 249.47 C 17.69 246.92 17.05 243.01 16.55 239.39 C 13.58 238.69 10.29 238.52 7.86 236.41 C 3.63 233.44 2.07 227.60 3.89 222.84 C 5.54 218.92 9.90 216.64 14.07 217.19 C 17.72 217.12 20.50 219.66 23.08 221.87 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 174.69 185.51 C 178.91 182.58 182.77 179.20 186.42 175.60 C 201.92 191.04 217.19 206.73 232.94 221.91 C 236.71 218.21 242.41 215.72 247.54 218.24 C 254.06 221.20 254.46 230.92 249.42 235.44 C 246.87 238.33 242.99 238.96 239.38 239.44 C 238.69 242.44 238.50 245.74 236.38 248.18 C 232.90 253.13 225.02 254.57 220.36 250.52 C 217.58 248.20 216.72 244.32 217.30 240.87 C 217.52 237.64 219.96 235.29 221.86 232.91 C 206.31 216.94 190.33 201.40 174.69 185.51 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 93.45 192.16 C 98.40 194.21 103.42 196.08 108.58 197.51 C 107.54 200.67 106.61 203.87 105.49 207.00 C 99.78 204.21 92.37 199.48 93.45 192.16 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 147.32 197.85 C 152.90 196.35 158.35 194.46 163.66 192.20 C 163.87 199.85 156.63 204.87 150.19 207.21 C 149.24 204.08 148.31 200.96 147.32 197.85 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 91.27 198.11 C 94.52 203.16 99.26 206.95 104.78 209.29 C 103.64 212.39 102.62 215.53 101.80 218.72 C 95.32 214.02 90.81 206.25 91.27 198.11 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 151.05 209.63 C 156.91 207.30 162.08 203.46 165.47 198.09 C 166.17 206.63 161.07 214.76 154.11 219.35 C 153.26 216.06 152.18 212.84 151.05 209.63 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 108.31 208.02 C 109.37 204.74 110.48 201.48 111.61 198.23 C 116.41 199.50 121.38 199.64 126.28 200.27 C 126.21 203.97 126.23 207.67 126.22 211.38 C 120.13 211.03 114.09 209.99 108.31 208.02 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 129.65 199.88 C 134.54 199.94 139.45 199.62 144.24 198.56 C 145.35 201.79 146.43 205.04 147.56 208.27 C 141.77 210.22 135.70 211.14 129.61 211.39 C 129.59 207.55 129.58 203.72 129.65 199.88 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 90.43 210.20 C 98.58 225.18 116.79 231.59 133.09 230.20 C 146.33 228.91 159.91 222.37 166.33 210.21 C 165.41 221.14 160.30 231.83 151.64 238.71 C 144.96 243.92 136.56 247.34 127.97 246.83 C 120.40 247.19 113.11 244.24 106.93 240.07 C 97.26 233.28 91.42 221.86 90.43 210.20 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 107.62 210.46 C 113.62 212.46 119.93 213.33 126.23 213.59 C 126.22 218.14 126.23 222.69 126.22 227.24 C 118.55 226.59 110.80 224.75 104.25 220.57 C 105.45 217.22 106.56 213.85 107.62 210.46 Z" />
                                <path fill="#ffffff" opacity="1.00" d=" M 129.60 213.57 C 135.90 213.50 142.19 212.58 148.22 210.76 C 149.27 214.27 150.41 217.75 151.63 221.21 C 144.93 225.04 137.24 226.84 129.58 227.28 C 129.58 222.71 129.59 218.14 129.60 213.57 Z" />
                            </g>
                            <g id="#56ace6ff">
                                <path fill="#56ace6" opacity="1.00" d=" M 58.64 43.01 C 82.04 21.38 115.85 11.54 147.17 17.65 C 165.88 21.10 183.70 29.71 197.71 42.64 C 192.71 47.64 187.65 52.59 182.72 57.66 C 167.88 44.99 148.65 37.30 129.05 37.42 C 108.86 36.96 88.98 45.18 74.07 58.61 C 69.01 53.33 63.68 48.31 58.64 43.01 Z" />
                                <path fill="#56ace6" opacity="1.00" d=" M 27.18 98.60 C 30.57 84.89 35.47 71.14 44.22 59.88 C 49.48 65.21 54.81 70.48 60.08 75.80 C 56.43 81.19 54.20 87.33 51.85 93.35 C 43.55 94.71 35.23 96.14 27.18 98.60 Z" />
                                <path fill="#56ace6" opacity="1.00" d=" M 196.81 74.79 C 201.97 69.61 207.13 64.41 212.29 59.22 C 221.04 70.83 226.41 84.71 229.65 98.79 C 221.78 96.27 213.61 94.93 205.49 93.52 C 203.09 87.07 200.58 80.59 196.81 74.79 Z" />
                            </g>
                            <g id="#ff9800ff">
                                <path fill="#ff9800" opacity="1.00" d=" M 93.27 49.20 C 108.72 41.15 127.02 38.57 144.07 42.24 C 162.74 45.69 179.90 56.58 191.02 71.97 C 194.68 76.74 197.18 82.23 199.93 87.54 C 196.55 86.14 193.09 84.91 189.50 84.15 C 166.71 79.08 143.23 78.42 119.97 78.67 C 101.55 79.21 83.00 80.37 65.08 84.92 C 62.41 85.59 59.89 86.69 57.38 87.80 C 64.53 71.35 77.21 57.30 93.27 49.20 Z" />
                                <path fill="#ff9800" opacity="1.00" d=" M 57.99 96.07 C 103.11 90.37 148.93 90.22 194.09 95.55 C 206.60 96.92 219.04 99.34 231.05 103.15 C 235.05 104.80 239.67 106.32 242.22 110.05 C 243.14 112.83 239.72 114.49 237.82 115.79 C 228.85 120.51 218.67 122.22 208.87 124.38 C 208.91 120.05 209.15 115.68 208.47 111.38 C 208.02 109.10 205.82 107.83 203.86 106.98 C 196.61 103.94 188.78 102.73 181.04 101.73 C 149.50 98.09 117.58 97.85 85.97 100.70 C 75.11 101.83 64.01 102.73 53.77 106.80 C 51.68 107.69 49.12 108.88 48.73 111.39 C 48.16 115.75 48.36 120.16 48.39 124.54 C 40.85 123.13 33.36 121.38 26.04 119.08 C 21.22 117.51 16.21 115.35 13.25 111.01 C 16.20 106.45 21.51 104.50 26.38 102.75 C 36.71 99.68 47.29 97.36 57.99 96.07 Z" />
                            </g>
                            <g id="#aa0c00ff">
                                <path fill="#aa0c00" opacity="1.00" d=" M 95.01 82.54 C 121.27 80.22 147.80 80.51 173.96 83.78 C 181.96 84.81 190.04 86.13 197.52 89.27 C 199.45 90.03 201.07 91.35 202.53 92.79 C 153.61 86.78 103.90 86.59 54.98 92.69 C 58.44 89.26 63.25 87.96 67.80 86.67 C 76.69 84.32 85.89 83.50 95.01 82.54 Z" />
                            </g>
                            <g id="#3d7fc0ff">
                                <path fill="#3d7fc0" opacity="1.00" d=" M 25.58 122.77 C 33.15 125.16 40.98 126.54 48.74 128.16 C 50.39 144.35 57.16 160.01 67.90 172.24 C 62.75 177.79 57.14 182.90 51.95 188.41 C 36.07 170.43 25.76 146.93 25.58 122.77 Z" />
                                <path fill="#3d7fc0" opacity="1.00" d=" M 208.44 128.07 C 216.04 126.29 223.78 125.05 231.22 122.60 C 231.16 147.08 220.65 170.85 204.43 188.92 C 199.28 183.57 193.92 178.43 188.71 173.13 C 199.72 160.61 206.87 144.70 208.44 128.07 Z" />
                                <path fill="#3d7fc0" opacity="1.00" d=" M 84.44 187.13 C 86.32 188.12 88.18 189.15 90.07 190.14 C 87.84 197.70 85.95 205.51 87.01 213.45 C 80.60 210.48 74.13 207.36 68.68 202.79 C 74.09 197.73 79.19 192.36 84.44 187.13 Z" />
                                <path fill="#3d7fc0" opacity="1.00" d=" M 166.42 190.66 C 168.21 189.62 170.01 188.59 171.81 187.55 C 177.14 192.82 182.36 198.22 187.75 203.43 C 182.06 207.33 176.05 210.78 169.73 213.55 C 170.77 205.79 169.46 197.85 166.42 190.66 Z" />
                            </g>
                        </svg>
                        <span>Cracked</span>
                    </div>
                    <div class="settingsAuthAccountTypeHeaderRight">
                        <button class="settingsAddAuthAccount" id="settingsAddOfflineAccount">+ Add Offline Account</button>
                    </div>
                </div>

                <div class="settingsCurrentAccounts" id="settingsCurrentOfflineAccounts">
                    <!-- Cracked auth accounts populated here. -->
                </div>
            </div>
        </div>
        <div id="settingsTabMinecraft" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.minecraftTabHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.minecraftTabHeaderDesc') %></span>
            </div>
            <div id="settingsGameResolutionContainer">
                <span class="settingsFieldTitle"><%- lang('settings.gameResolutionTitle') %></span>
                <div id="settingsGameResolutionContent">
                    <input type="number" id="settingsGameWidth" min="0" cValue="GameWidth">
                    <div id="settingsGameResolutionCross">&#10006;</div>
                    <input type="number" id="settingsGameHeight" min="0" cValue="GameHeight">
                </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.launchFullscreenTitle') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="Fullscreen">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.autoConnectTitle') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="AutoConnect">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.launchDetachedTitle') %></span>
                    <span class="settingsFieldDesc"><%- lang('settings.launchDetachedDesc') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="LaunchDetached">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div id="settingsTabMods" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.tabModsHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.tabModsHeaderDesc') %></span>
            </div>
            <div class="settingsSelServContainer">
                <div class="settingsSelServContent">

                </div>
                <div class="settingsSwitchServerContainer">
                    <div class="settingsSwitchServerContent">
                        <button class="settingsSwitchServerButton"><%- lang('settings.switchServerButton') %></button>
                    </div>
                </div>
            </div>
            <div id="settingsModsContainer">
                <div id="settingsReqModsContainer">
                    <div class="settingsModsHeader"><%- lang('settings.requiredMods') %></div>
                    <div id="settingsReqModsContent">

                    </div>
                </div>
                <div id="settingsOptModsContainer">
                    <div class="settingsModsHeader"><%- lang('settings.optionalMods') %></div>
                    <div id="settingsOptModsContent">
                        
                    </div>
                </div>
                <div id="settingsDropinModsContainer">
                    <div class="settingsModsHeader"><%- lang('settings.dropinMods') %></div>
                    <button id="settingsDropinFileSystemButton"><%- lang('settings.addMods') %> <span id="settingsDropinRefreshNote"><%- lang('settings.dropinRefreshNote') %></span></button>
                    <div id="settingsDropinModsContent">
                        
                    </div>
                </div>
                <div id="settingsShadersContainer">
                    <div class="settingsModsHeader"><%- lang('settings.shaderpacks') %></div>
                    <div id="settingsShaderpackDesc"><%- lang('settings.shaderpackDesc') %></div>
                    <div id="settingsShaderpackWrapper">
                        <button id="settingsShaderpackButton"> + </button>
                        <div class="settingsSelectContainer">
                            <div class="settingsSelectSelected" id="settingsShadersSelected"><%- lang('settings.selectShaderpack') %></div>
                            <div class="settingsSelectOptions" id="settingsShadersOptions" hidden>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="settingsTabJava" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.tabJavaHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.tabJavaHeaderDesc') %></span>
            </div>
            <div class="settingsSelServContainer">
                <div class="settingsSelServContent">

                </div>
                <div class="settingsSwitchServerContainer">
                    <div class="settingsSwitchServerContent">
                        <button class="settingsSwitchServerButton"><%- lang('settings.switchServerButton') %></button>
                    </div>
                </div>
            </div>
            <div id="settingsMemoryContainer">
                <div id="settingsMemoryTitle"><%- lang('settings.memoryTitle') %></div>
                <div id="settingsMemoryContent">
                    <div id="settingsMemoryContentLeft">
                        <div class="settingsMemoryContentItem">
                            <span class="settingsMemoryHeader"><%- lang('settings.maxRAM') %></span>
                            <div class="settingsMemoryActionContainer">
                                <div id="settingsMaxRAMRange" class="rangeSlider" cValue="MaxRAM" serverDependent min="3" max="8" value="3" step="0.5">
                                    <div class="rangeSliderBar"></div>
                                    <div class="rangeSliderTrack"></div>
                                </div>
                                <span id="settingsMaxRAMLabel" class="settingsMemoryLabel">3G</span>
                            </div>
                        </div>
                        <div class="settingsMemoryContentItem">
                            <span class="settingsMemoryHeader"><%- lang('settings.minRAM') %></span>
                            <div class="settingsMemoryActionContainer">
                                <div id="settingsMinRAMRange" class="rangeSlider" cValue="MinRAM" serverDependent min="3" max="8" value="3" step="0.5">
                                    <div class="rangeSliderBar"></div>
                                    <div class="rangeSliderTrack"></div>
                                </div>
                                <span id="settingsMinRAMLabel" class="settingsMemoryLabel">3G</span>
                            </div>
                        </div>
                        <div id="settingsMemoryDesc"><%- lang('settings.memoryDesc') %></div>
                    </div>
                    <div id="settingsMemoryContentRight">
                        <div id="settingsMemoryStatus">
                            <div class="settingsMemoryStatusContainer">
                                <span class="settingsMemoryStatusTitle"><%- lang('settings.memoryTotalTitle') %></span>
                                <span id="settingsMemoryTotal" class="settingsMemoryStatusValue">16G</span>
                            </div>
                            <div class="settingsMemoryStatusContainer">
                                <span class="settingsMemoryStatusTitle"><%- lang('settings.memoryAvailableTitle') %></span>
                                <span id="settingsMemoryAvail" class="settingsMemoryStatusValue">7.3G</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="settingsFileSelContainer">
                <div class="settingsFileSelTitle"><%- lang('settings.javaExecutableTitle') %></div>
                <div class="settingsFileSelContent">
                    <div id="settingsJavaExecDetails"><!-- Invalid Selection --></div>
                    <div class="settingsFileSelActions">
                        <div class="settingsFileSelIcon">
                            <svg class="settingsFileSelSVG" x="0px" y="0px" viewBox="0 0 305.001 305.001">
                                <g>
                                    <path d="M150.99,56.513c-14.093,9.912-30.066,21.147-38.624,39.734c-14.865,32.426,30.418,67.798,32.353,69.288c0.45,0.347,0.988,0.519,1.525,0.519c0.57,0,1.141-0.195,1.605-0.583c0.899-0.752,1.154-2.029,0.614-3.069c-0.164-0.316-16.418-31.888-15.814-54.539c0.214-7.888,11.254-16.837,22.942-26.312c10.705-8.678,22.839-18.514,29.939-30.02c15.586-25.327-1.737-50.231-1.914-50.479c-0.688-0.966-1.958-1.317-3.044-0.84c-1.085,0.478-1.686,1.652-1.438,2.811c0.035,0.164,3.404,16.633-5.97,33.6C169.301,43.634,160.816,49.603,150.99,56.513z"></path>
                                    <path d="M210.365,67.682c0.994-0.749,1.286-2.115,0.684-3.205c-0.602-1.09-1.913-1.571-3.077-1.129c-2.394,0.91-58.627,22.585-58.627,48.776c0,18.053,7.712,27.591,13.343,34.556c2.209,2.731,4.116,5.09,4.744,7.104c1.769,5.804-2.422,16.294-4.184,19.846c-0.508,1.022-0.259,2.259,0.605,3.005c0.467,0.403,1.05,0.607,1.634,0.607c0.497,0,0.996-0.148,1.427-0.448c0.967-0.673,23.63-16.696,19.565-36.001c-1.514-7.337-5.12-12.699-8.302-17.43c-4.929-7.329-8.489-12.624-3.088-22.403C181.419,89.556,210.076,67.899,210.365,67.682z"></path>
                                    <path d="M63.99,177.659c-0.964,2.885-0.509,5.75,1.315,8.283c6.096,8.462,27.688,13.123,60.802,13.123c0.002,0,0.003,0,0.004,0c4.487,0,9.224-0.088,14.076-0.262c52.943-1.896,72.58-18.389,73.39-19.09c0.883-0.764,1.119-2.037,0.57-3.067c-0.549-1.029-1.733-1.546-2.864-1.235c-18.645,5.091-53.463,6.898-77.613,6.898c-27.023,0-40.785-1.946-44.154-3.383c1.729-2.374,12.392-6.613,25.605-9.212c1.263-0.248,2.131-1.414,2.006-2.695c-0.125-1.281-1.201-2.258-2.488-2.258C106.893,164.762,68.05,165.384,63.99,177.659z"></path>
                                    <path d="M241.148,160.673c-10.92,0-21.275,5.472-21.711,5.705c-1.01,0.541-1.522,1.699-1.245,2.811c0.278,1.111,1.277,1.892,2.423,1.893c0.232,0.001,23.293,0.189,25.382,13.365c1.85,11.367-21.82,29.785-31.097,35.923c-1.002,0.663-1.391,1.945-0.926,3.052c0.395,0.943,1.314,1.533,2.304,1.533c0.173,0,0.348-0.018,0.522-0.056c2.202-0.47,53.855-11.852,48.394-41.927C261.862,164.541,250.278,160.673,241.148,160.673z"></path>
                                    <path d="M205.725,216.69c0.18-0.964-0.221-1.944-1.023-2.506l-12.385-8.675c-0.604-0.423-1.367-0.556-2.076-0.368c-0.129,0.034-13.081,3.438-31.885,5.526c-7.463,0.837-15.822,1.279-24.175,1.279c-18.799,0-31.091-2.209-32.881-3.829c-0.237-0.455-0.162-0.662-0.12-0.777c0.325-0.905,2.068-1.98,3.192-2.405c1.241-0.459,1.91-1.807,1.524-3.073c-0.385-1.266-1.69-2.012-2.978-1.702c-12.424,2.998-18.499,7.191-18.057,12.461c0.785,9.343,22.428,14.139,40.725,15.408c2.631,0.18,5.477,0.272,8.456,0.272c0.002,0,0.003,0,0.005,0c30.425,0,69.429-9.546,69.819-9.643C204.818,218.423,205.544,217.654,205.725,216.69z"></path>
                                    <path d="M112.351,236.745c0.938-0.611,1.354-1.77,1.021-2.838c-0.332-1.068-1.331-1.769-2.453-1.755c-1.665,0.044-16.292,0.704-17.316,10.017c-0.31,2.783,0.487,5.325,2.37,7.556c5.252,6.224,19.428,9.923,43.332,11.31c2.828,0.169,5.7,0.254,8.539,0.254c30.39,0,50.857-9.515,51.714-9.92c0.831-0.393,1.379-1.209,1.428-2.127c0.049-0.917-0.409-1.788-1.193-2.267l-15.652-9.555c-0.543-0.331-1.193-0.441-1.813-0.314c-0.099,0.021-10.037,2.082-25.035,4.119c-2.838,0.385-6.392,0.581-10.562,0.581c-14.982,0-31.646-2.448-34.842-4.05C111.843,237.455,111.902,237.075,112.351,236.745z"></path>
                                    <path d="M133.681,290.018c69.61-0.059,106.971-12.438,114.168-20.228c2.548-2.757,2.823-5.366,2.606-7.07c-0.535-4.194-4.354-6.761-4.788-7.04c-1.045-0.672-2.447-0.496-3.262,0.444c-0.813,0.941-0.832,2.314-0.016,3.253c0.439,0.565,0.693,1.51-0.591,2.795c-2.877,2.687-31.897,10.844-80.215,13.294c-6.619,0.345-13.561,0.519-20.633,0.52c-43.262,0-74.923-5.925-79.079-9.379c1.603-2.301,12.801-5.979,24.711-8.058c1.342-0.234,2.249-1.499,2.041-2.845c-0.208-1.346-1.449-2.273-2.805-2.096c-0.336,0.045-1.475,0.115-2.796,0.195c-19.651,1.2-42.36,3.875-43.545,13.999c-0.36,3.086,0.557,5.886,2.726,8.324c5.307,5.963,20.562,13.891,91.475,13.891C133.68,290.018,133.68,290.018,133.681,290.018z"></path>
                                    <path d="M261.522,271.985c-0.984-0.455-2.146-0.225-2.881,0.567c-0.103,0.11-10.568,11.054-42.035,17.48c-12.047,2.414-34.66,3.638-67.211,3.638c-32.612,0-63.643-1.283-63.953-1.296c-1.296-0.063-2.405,0.879-2.581,2.155c-0.177,1.276,0.645,2.477,1.897,2.775c0.323,0.077,32.844,7.696,77.31,7.696c21.327,0,42.08-1.733,61.684-5.151c36.553-6.408,39.112-24.533,39.203-25.301C263.082,273.474,262.504,272.44,261.522,271.985z"></path>
                                </g>
                            </svg>
                        </div>
                        <input class="settingsFileSelVal" id="settingsJavaExecVal" type="text" value="null" cValue="JavaExecutable" serverDependent disabled>
                        <button class="settingsFileSelButton" id="settingsJavaExecSel" dialogTitle="<%- lang('settings.javaExecSelDialogTitle') %>" dialogDirectory="false"><%- lang('settings.javaExecSelButtonText') %></button>
                    </div>
                </div>
                <div class="settingsFileSelDesc"><%- lang('settings.javaExecDesc') %> <strong id="settingsJavaReqDesc"><!-- Requires Java 8 x64. --></strong><br><%- lang('settings.javaPathDesc', {'pathSuffix': `bin${process.platform === 'win32' ? '\\javaw.exe' : '/java'}`}) %></div>
            </div>
            <div id="settingsJVMOptsContainer">
                <div id="settingsJVMOptsTitle"><%- lang('settings.jvmOptsTitle') %></div>
                <div id="settingsJVMOptsContent">
                    <div class="settingsFileSelIcon">
                        <svg class="settingsFileSelSVG" x="0px" y="0px" viewBox="0 0 305.001 305.001">
                            <g>
                                <path d="M150.99,56.513c-14.093,9.912-30.066,21.147-38.624,39.734c-14.865,32.426,30.418,67.798,32.353,69.288c0.45,0.347,0.988,0.519,1.525,0.519c0.57,0,1.141-0.195,1.605-0.583c0.899-0.752,1.154-2.029,0.614-3.069c-0.164-0.316-16.418-31.888-15.814-54.539c0.214-7.888,11.254-16.837,22.942-26.312c10.705-8.678,22.839-18.514,29.939-30.02c15.586-25.327-1.737-50.231-1.914-50.479c-0.688-0.966-1.958-1.317-3.044-0.84c-1.085,0.478-1.686,1.652-1.438,2.811c0.035,0.164,3.404,16.633-5.97,33.6C169.301,43.634,160.816,49.603,150.99,56.513z"></path>
                                <path d="M210.365,67.682c0.994-0.749,1.286-2.115,0.684-3.205c-0.602-1.09-1.913-1.571-3.077-1.129c-2.394,0.91-58.627,22.585-58.627,48.776c0,18.053,7.712,27.591,13.343,34.556c2.209,2.731,4.116,5.09,4.744,7.104c1.769,5.804-2.422,16.294-4.184,19.846c-0.508,1.022-0.259,2.259,0.605,3.005c0.467,0.403,1.05,0.607,1.634,0.607c0.497,0,0.996-0.148,1.427-0.448c0.967-0.673,23.63-16.696,19.565-36.001c-1.514-7.337-5.12-12.699-8.302-17.43c-4.929-7.329-8.489-12.624-3.088-22.403C181.419,89.556,210.076,67.899,210.365,67.682z"></path>
                                <path d="M63.99,177.659c-0.964,2.885-0.509,5.75,1.315,8.283c6.096,8.462,27.688,13.123,60.802,13.123c0.002,0,0.003,0,0.004,0c4.487,0,9.224-0.088,14.076-0.262c52.943-1.896,72.58-18.389,73.39-19.09c0.883-0.764,1.119-2.037,0.57-3.067c-0.549-1.029-1.733-1.546-2.864-1.235c-18.645,5.091-53.463,6.898-77.613,6.898c-27.023,0-40.785-1.946-44.154-3.383c1.729-2.374,12.392-6.613,25.605-9.212c1.263-0.248,2.131-1.414,2.006-2.695c-0.125-1.281-1.201-2.258-2.488-2.258C106.893,164.762,68.05,165.384,63.99,177.659z"></path>
                                <path d="M241.148,160.673c-10.92,0-21.275,5.472-21.711,5.705c-1.01,0.541-1.522,1.699-1.245,2.811c0.278,1.111,1.277,1.892,2.423,1.893c0.232,0.001,23.293,0.189,25.382,13.365c1.85,11.367-21.82,29.785-31.097,35.923c-1.002,0.663-1.391,1.945-0.926,3.052c0.395,0.943,1.314,1.533,2.304,1.533c0.173,0,0.348-0.018,0.522-0.056c2.202-0.47,53.855-11.852,48.394-41.927C261.862,164.541,250.278,160.673,241.148,160.673z"></path>
                                <path d="M205.725,216.69c0.18-0.964-0.221-1.944-1.023-2.506l-12.385-8.675c-0.604-0.423-1.367-0.556-2.076-0.368c-0.129,0.034-13.081,3.438-31.885,5.526c-7.463,0.837-15.822,1.279-24.175,1.279c-18.799,0-31.091-2.209-32.881-3.829c-0.237-0.455-0.162-0.662-0.12-0.777c0.325-0.905,2.068-1.98,3.192-2.405c1.241-0.459,1.91-1.807,1.524-3.073c-0.385-1.266-1.69-2.012-2.978-1.702c-12.424,2.998-18.499,7.191-18.057,12.461c0.785,9.343,22.428,14.139,40.725,15.408c2.631,0.18,5.477,0.272,8.456,0.272c0.002,0,0.003,0,0.005,0c30.425,0,69.429-9.546,69.819-9.643C204.818,218.423,205.544,217.654,205.725,216.69z"></path>
                                <path d="M112.351,236.745c0.938-0.611,1.354-1.77,1.021-2.838c-0.332-1.068-1.331-1.769-2.453-1.755c-1.665,0.044-16.292,0.704-17.316,10.017c-0.31,2.783,0.487,5.325,2.37,7.556c5.252,6.224,19.428,9.923,43.332,11.31c2.828,0.169,5.7,0.254,8.539,0.254c30.39,0,50.857-9.515,51.714-9.92c0.831-0.393,1.379-1.209,1.428-2.127c0.049-0.917-0.409-1.788-1.193-2.267l-15.652-9.555c-0.543-0.331-1.193-0.441-1.813-0.314c-0.099,0.021-10.037,2.082-25.035,4.119c-2.838,0.385-6.392,0.581-10.562,0.581c-14.982,0-31.646-2.448-34.842-4.05C111.843,237.455,111.902,237.075,112.351,236.745z"></path>
                                <path d="M133.681,290.018c69.61-0.059,106.971-12.438,114.168-20.228c2.548-2.757,2.823-5.366,2.606-7.07c-0.535-4.194-4.354-6.761-4.788-7.04c-1.045-0.672-2.447-0.496-3.262,0.444c-0.813,0.941-0.832,2.314-0.016,3.253c0.439,0.565,0.693,1.51-0.591,2.795c-2.877,2.687-31.897,10.844-80.215,13.294c-6.619,0.345-13.561,0.519-20.633,0.52c-43.262,0-74.923-5.925-79.079-9.379c1.603-2.301,12.801-5.979,24.711-8.058c1.342-0.234,2.249-1.499,2.041-2.845c-0.208-1.346-1.449-2.273-2.805-2.096c-0.336,0.045-1.475,0.115-2.796,0.195c-19.651,1.2-42.36,3.875-43.545,13.999c-0.36,3.086,0.557,5.886,2.726,8.324c5.307,5.963,20.562,13.891,91.475,13.891C133.68,290.018,133.68,290.018,133.681,290.018z"></path>
                                <path d="M261.522,271.985c-0.984-0.455-2.146-0.225-2.881,0.567c-0.103,0.11-10.568,11.054-42.035,17.48c-12.047,2.414-34.66,3.638-67.211,3.638c-32.612,0-63.643-1.283-63.953-1.296c-1.296-0.063-2.405,0.879-2.581,2.155c-0.177,1.276,0.645,2.477,1.897,2.775c0.323,0.077,32.844,7.696,77.31,7.696c21.327,0,42.08-1.733,61.684-5.151c36.553-6.408,39.112-24.533,39.203-25.301C263.082,273.474,262.504,272.44,261.522,271.985z"></path>
                            </g>
                        </svg>
                    </div>
                    <input id="settingsJVMOptsVal" cValue="JVMOptions" serverDependent type="text">
                </div>
                <div id="settingsJVMOptsDesc"><%- lang('settings.jvmOptsDesc') %><br><a href="#" id="settingsJvmOptsLink"><!-- Available Options --></a></div>
            </div>
        </div>
        <div id="settingsTabLauncher" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.launcherTabHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.launcherTabHeaderDesc') %></span>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.allowPrereleaseTitle') %></span>
                    <span class="settingsFieldDesc"><%- lang('settings.allowPrereleaseDesc') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="AllowPrerelease">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
            <div class="settingsFileSelContainer">
                <div class="settingsFileSelContent">
                    <div class="settingsFieldTitle" id="settingsDataDirTitle"><%- lang('settings.dataDirectoryTitle') %></div>
                    <div class="settingsFileSelActions">
                        <div class="settingsFileSelIcon">
                            <svg class="settingsFileSelSVG">
                                <g>
                                    <path fill="gray" d="m10.044745,5c0,0.917174 -0.746246,1.667588 -1.667588,1.667588l-4.168971,0l-2.501382,0c-0.921009,0 -1.667588,0.750415 -1.667588,1.667588l0,6.670353l0,2.501382c0,0.917174 0.746604,1.667588 1.667588,1.667588l16.675882,0c0.921342,0 1.667588,-0.750415 1.667588,-1.667588l0,-2.501382l0,-8.337941c0,-0.917174 -0.746246,-1.667588 -1.667588,-1.667588l-8.337941,0z"/>
                                    <path fill="gray" d="m1.627815,1.6c-0.921009,0 -1.667588,0.746579 -1.667588,1.667588l0,4.168971l8.337941,0l0,0.833794l11.673118,0l0,-4.168971c0,-0.921009 -0.746246,-1.667588 -1.667588,-1.667588l-8.572237,0c-0.288493,-0.497692 -0.816284,-0.833794 -1.433292,-0.833794l-6.670353,0z"/>
                                    <path fill="lightgray" d="m10.025276,4c0,0.918984 -0.747719,1.670879 -1.670879,1.670879l-4.177198,0l-2.506319,0c-0.922827,0 -1.670879,0.751896 -1.670879,1.670879l0,6.683517l0,2.506319c0,0.918984 0.748078,1.670879 1.670879,1.670879l16.708794,0c0.923161,0 1.670879,-0.751896 1.670879,-1.670879l0,-2.506319l0,-8.354397c0,-0.918984 -0.747719,-1.670879 -1.670879,-1.670879l-8.354397,0z"/>
                                </g>
                            </svg>
                        </div>
                        <input class="settingsFileSelVal" type="text" value="null" cValue="DataDirectory" disabled>
                        <button class="settingsFileSelButton" dialogTitle="<%- lang('settings.selectDataDirectory') %>" dialogDirectory="true"><%- lang('settings.chooseFolder') %></button>
                    </div>
                </div>
                <div class="settingsFileSelDesc"><%- lang('settings.dataDirectoryDesc') %></div>
            </div>
        </div>
        <div id="settingsTabAbout" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.aboutTabHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.aboutTabHeaderDesc') %></span>
            </div>
            <div id="settingsAboutCurrentContainer">
                <div id="settingsAboutCurrentContent">
                    <div id="settingsAboutCurrentHeadline">
                        <img id="settingsAboutLogo" src="./assets/images/SealCircle.png">
                        <span id="settingsAboutTitle"><%- lang('settings.aboutTitle', { appName: lang('app.title') }) %></span>
                    </div>
                    <div id="settingsAboutCurrentVersion">
                        <div id="settingsAboutCurrentVersionCheck">&#10003;</div>
                        <div id="settingsAboutCurrentVersionDetails">
                            <span id="settingsAboutCurrentVersionTitle"><%- lang('settings.stableRelease') %></span>
                            <div id="settingsAboutCurrentVersionLine">
                                <span id="settingsAboutCurrentVersionText"><%- lang('settings.versionText') %></span>
                                <span id="settingsAboutCurrentVersionValue">0.0.1-alpha.18</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsAboutButtons">
                    <a href="<%- lang('settings.sourceGithubLink') %>" id="settingsAboutSourceButton" class="settingsAboutButton"><%- lang('settings.sourceGithub') %></a>
                    <!-- The following must be included in third-party usage. -->
                    <!-- <a href="https://github.com/dscalzi/HeliosLauncher" id="settingsAboutSourceButton" class="settingsAboutButton">Original Source</a> -->
                    <a href="<%- lang('settings.supportLink') %>" id="settingsAboutSupportButton" class="settingsAboutButton"><%- lang('settings.support') %></a>
                    <a href="#" id="settingsAboutDevToolsButton" class="settingsAboutButton"><%- lang('settings.devToolsConsole') %></a>
                </div>
            </div>
            <div class="settingsChangelogContainer">
                <div class="settingsChangelogContent">
                    <div class="settingsChangelogHeadline">
                        <div class="settingsChangelogLabel"><%- lang('settings.releaseNotes') %></div>
                        <div class="settingsChangelogTitle"><%- lang('settings.changelog') %></div>
                    </div>
                    <div class="settingsChangelogText">
                        <%- lang('settings.noReleaseNotes') %>
                    </div>
                </div>
                <div class="settingsChangelogActions">
                    <a class="settingsChangelogButton settingsAboutButton" href="#"><%- lang('settings.viewReleaseNotes') %></a>
                </div>
            </div>
        </div>
        <div id="settingsTabUpdate" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.launcherUpdatesHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.launcherUpdatesHeaderDesc') %></span>
            </div>
            <div id="settingsUpdateStatusContainer">
                <div id="settingsUpdateStatusContent">
                    <div id="settingsUpdateStatusHeadline">
                        <span id="settingsUpdateTitle"><!-- You Are Running the Latest Version --></span>
                    </div>
                    <div id="settingsUpdateVersion">
                        <div id="settingsUpdateVersionCheck">&#10003;</div>
                        <div id="settingsUpdateVersionDetails">
                            <span id="settingsUpdateVersionTitle"><%- lang('settings.stableRelease') %></span>
                            <div id="settingsUpdateVersionLine">
                                <span id="settingsUpdateVersionText"><%- lang('settings.versionText') %> </span>
                                <span id="settingsUpdateVersionValue">0.0.1-alpha.18</span>
                            </div>
                        </div>
                    </div>
                    <div id="settingsUpdateActionContainer">
                        <button id="settingsUpdateActionButton"><%- lang('settings.checkForUpdates') %></button>
                    </div>
                </div>
            </div>
            <div class="settingsChangelogContainer">
                <div class="settingsChangelogContent">
                    <div class="settingsChangelogHeadline">
                        <div class="settingsChangelogLabel"><%- lang('settings.whatsNew') %></div>
                        <div class="settingsChangelogTitle"><%- lang('settings.updateReleaseNotes') %></div>
                    </div>
                    <div class="settingsChangelogText">
                        <%- lang('settings.noReleaseNotes') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/settings.js"></script>
</div>